/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  background: url("../img/bg.png") repeat;
}

/* line 7, ../sass/screen.scss */
#wrapper h1 {
  font: normal 160pt 'Cookie', cursive;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* line 25, ../sass/screen.scss */
#wrapper h2 {
  font: normal 40pt 'Cookie', cursive;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #cccccc, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin: 20px;
}

/* line 40, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p, td {
  text-align: center;
}

/* line 44, ../sass/screen.scss */
h3 {
  font: normal 20pt 'Cookie', cursive;
}

/* line 48, ../sass/screen.scss */
table {
  margin: 40px auto;
}

/* line 52, ../sass/screen.scss */
td p {
  margin: 10px 0 20px 0;
  display: block;
  text-align: center;
  line-height: 1.2em;
  font: normal 10pt 'Georgia', serif;
}

/* line 60, ../sass/screen.scss */
.buttonwrapper {
  margin: 40px auto;
  text-align: center;
}

/* line 65, ../sass/screen.scss */
.button {
  border: 1px solid #0a3c59;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background: -ms-linear-gradient(top, #65a9d7, #3e779d);
  background: -o-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
  padding: 5.5px 11px 0 11px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
  text-shadow: #7ea4bd 0 1px 0;
  color: #06426c;
  font-size: 30pt;
  font-family: 'Cookie', cursive;
  text-decoration: none;
  vertical-align: middle;
}

/* line 88, ../sass/screen.scss */
.button:hover {
  border: 1px solid #0a3c59;
  text-shadow: #1e4158 0 1px 0;
  background: #3e779d;
  background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
  background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background: -ms-linear-gradient(top, #65a9d7, #3e779d);
  background: -o-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
  color: #fff;
}

/* line 100, ../sass/screen.scss */
.button:active {
  text-shadow: #1e4158 0 1px 0;
  border: 1px solid #0a3c59;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
  color: #fff;
}
